<div class="row">
	<div class="col-lg-offset-4 col-lg-4">
<table align="center" class="table table-bordered">
 <tr><th align="left">Name</th><td><%= @admin.name %></td></tr>
 <tr><th align="left">Username</th><td><%= @admin.username %></td></tr>
 <tr><th align="left">Email</th><td><%= @admin.email %></td></tr>
</table>

<%= link_to 'Back', admins_path %>
	</div>
</div>