<div class="row">
  <div class="col-lg-offset-4 col-lg-4">
  	Dear <%= @customer.salutation %><%= @customer.surname %>,<br>
  	Thank you for updating your information.<br>
  	Please, do not forget to visit our <a href="https://www.iquest.cz/">iQuest</a> website.
  </div>
</div>